/* styles/App.css */

/* Importing Raleway font directly in CSS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; /* Regular weight */
  font-size: 16px;
  line-height: 1.6; /* For better readability */
  background-color: #2C3E50;
  color: #ECF0F1;
}

header {
  background-color: #2C3E50;
  color: #ECF0F1;
  padding: 20px;
  text-align: center;
}

.bio .bio-full {
  float: left;
  width: 100%;
}

.bio .bio-left {
  float: left;
  width: 50%;
}

.bio .bio-right {
  float: left;
  width: 50%;
}

.bio img {
  width: 300px; /* Adjust size as needed */
  height: 400px;
  border-radius: 10px;
}

section {
  padding: 20px;
  background-color: #2C3E50;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 20px;
  list-style-type: disc;
}

a, Link {
  color: #2dd4bf;
  text-decoration: none;
  cursor: pointer;
}

a:hover, Link:hover {
  color: #5eead4;
  text-decoration: underline;
  cursor: pointer;
}

.right-section {
  float: left;
  width: 50%;
}

.left-section {
  float: left;
  width: 50%;
}

.Contact a {
  float: left;
}

.Contact a svg {
  width: 24px;
  height: 24px;
  color: #2dd4bf;
  margin-right: 10px;
  transition: color 0.2s ease, transform 0.2s ease;
}

.Contact a svg:hover {
  color: #5eead4;
  transform: translateY(-2px);
}