/* styles/App.css */

/* Importing Raleway font directly in CSS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; /* Regular weight */
  font-size: 16px;
  line-height: 1.6; /* For better readability */
  background-color: #2C3E50;
  color: #ECF0F1;
}

header {
  background-color: #2C3E50;
  color: #ECF0F1;
  padding: 20px;
  text-align: center;
}

.bio img {
  width: 200px; /* Adjust size as needed */
  height: 200px;
}

section {
  padding: 20px;
  background-color: #2C3E50;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 20px;
  list-style-type: disc;
}

a, Link {
  color: #ECF0F1;
  text-decoration: none;
  cursor: pointer;
}

a:hover, Link:hover {
  color: #BDC3C7;
  text-decoration: none;
  cursor: pointer;
}

.right-section {
  float: left;
  width: 50%;
}

.left-section {
  float: left;
  width: 50%;
}