/* styles/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-image: url('../assets/images/profile_image.jpg');
  background-size: cover;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  min-height: 1000px;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 20px;
  list-style-type: disc;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header-name {
  color: #000;
  text-align: right;
}

.header-tag {
  color: #000;
  text-align: right;
}